[submodule "polybar-scripts"]
	path = polybar-scripts
	url = https://github.com/polybar/polybar-scripts.git
[submodule "polybar-bluetooth"]
	path = polybar-bluetooth
	url = https://github.com/msaitz/polybar-bluetooth.git
